* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #1b1e20;
}

html,
body {
    overflow: hidden;
}

#adding-line-btn {
    position: absolute;
    left: 0;
    top: 0;
}

#deactivate-line-btn {
    position: absolute;
    right: 20px;
    top: 0;
}