* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #1b1e20;
}

/* Estilos de botones de accion */
.botones-flotantes {
    position: absolute;
    top: 15px !important;
    left: 50% !important;
    transform: translate(-50%, 0);
}

.botones-flotantes .btn {
    margin: 0 2px;
}

.custom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colorInput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50%;
    height: 40px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#colorInput::-webkit-color-swatch {
    border-radius: 5px;
    border: none;
}

#colorInput::-moz-color-swatch {
    border-radius: 5px;
    border: none;
}

/* Coloreado del input del tamano del pincel */
.custom-range::-webkit-slider-thumb {
    background: #ffc107;
}

.custom-range::-moz-range-thumb {
    background: gray;
}

.custom-range::-ms-thumb {
    background: gray;
}

-webkit-slider-thumb:active {
    background-color: red;
}

-webkit-slider-thumb,
.custom-range:focus::-webkit-slider-thumb,
.custom-range:focus::-moz-range-thumb,
.custom-range:focus::-ms-thumb {
    box-shadow: red;
}

/* Ajuste de tamanos de los inputs del brillo */
.iluminacion-rangos>.form-group>input {
    width: 70%;
}

.offcanvas-body>.row>.btn {
    text-align: left;
}

/* Menus */
.offcanvas {
    background-color: #25211f;
    color: white;
}
