@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Hay que reworkear los estilos a esto:
https://play.tailwindcss.com/8xLdxyjOC5

*/

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
